---
sitemap: false
---

@import "moving";
//@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

.wp-popup .wikipediapreview {
  max-height: 371px;

  &.expanded .wikipediapreview-body {
    overflow-y: auto !important;
  }
  .wikipediapreview-body {
    overflow-x: hidden !important;
  }
  .wikipediapreview-gallery-row {
    overflow-y: auto;
  }
  .wikipediapreview-footer-cta {
    padding: 8px;
  }
}

.wp-touch-popup .wikipediapreview {
  .wikipediapreview-footer-cta {
    padding: 11px;
  }
}

.wp-popup .wikipediapreview,
.wp-touch-popup .wikipediapreview {
  font-family: $base-font-family;

  .wikipediapreview-body > p {
    text-align: left;
  }
  .wikipediapreview-body > * {
    text-align: center;
  }
  .wikipediapreview-gallery-image {
    cursor: pointer;
  }
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/bitter-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/bitter-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/bitter-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/bitter-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/bitter-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/bitter-v17-latin-regular.svg#Bitter') format('svg'); /* Legacy iOS */
}
